:root {
  --color-text-input: #808080;
  --color-hover-input: #000000;
  --color-text-search-button: #ffffff;
  --bg-color-button-search: #4e75ff;
  --bg-hover-button-search: #6c8cff;
  --color-social-text: #2e2f42;
}
